/* site specific css stuff 		*/

/* ******************************* */

/* layout code */

body
{
    background: #b30f14;
    background-image: url(../images/background-v-slice.gif);
    background-repeat: repeat-x;
    background-position: top left;
    color: #000000;
}

form
{
	margin:auto !IMPORTANT;
	width: 969px;
	background-color: transparent;
	background-image: url(../images/body-background.gif);
	background-repeat: no-repeat;
	background-position: left 41px;
	padding:0;
	font-family:arial, helvetica;
	font-size:13px;
	color:#222222;
}

.completionListElement
{
	visibility:hidden;	
	margin:0px;
	background-color:white;
	color:#999999;
	border:solid 1px gray;
	cursor:hand;
	text-align:left;
	list-style-type:none;
	font-family:Arial, Helvetica;
	font-size:18px;
	padding:0;
	z-index:2;
}

h1
{
	display: block;
	margin-bottom: 10px !IMPORTANT;
	font-size:16px !IMPORTANT;
	font-weight:bold;
	color: #FFFFFF;
	background: #000000;
	line-height: 38px;
	height: 38px;
	text-indent: 10px;
}

h1.bannerTitle
{
	display: block;
	margin-bottom:10px;
	font-size:16px;
	font-weight:bold;
	color: #000000;
	background: transparent;
	line-height: 38px;
	height: 38px;
	text-indent: 0px;
}

h2, h1.h2
{
	margin: 10px 5px !IMPORTANT;
	font-size:18px !IMPORTANT;
	font-weight:normal;
	color: #DD0000;
	background: #FFFFFF;
	line-height: 1em;
	/*height: 1em;*/
	text-indent: 0px;
}

#enclosure h2.larger
{
	font-size:28px;
}

#enclosure h3
{
	margin-bottom:5px;
	margin-left: 5px;
	font-size:16px;
	font-weight: normal;
}

#enclosure h3 a
{
    color: #666666 !IMPORTANT;   
}

#enclosure h3 a:hover
{
    color: #000000 !IMPORTANT;   
}

#enclosure h4, #enclosure h5, #enclosure h6
{
	margin-bottom:5px;
	font-size:14px;
}

#enclosure h4, h4
{
    display:block;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/product-description-background.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 10px -10px;
    text-indent: 10px;
}

#enclosure .dimensions h4
{
    width: 307px;
    margin-top: 0px;
}

.dimensions h4
{
    width: 307px;
    margin-top: 0px;
}

/* ******************************* */
/*	Link Styles			*/

a:link
{
   color:#DD0000; 
   border:0;
}

a:visited
{
   color:#DD0000; 
   border:0;
}

a:hover
{
    color:#000000;
    text-decoration:none;
    border:0;
}

a:active
{
    color:#000000;
    text-decoration:none;
    border:0;
}

#contentdiv a:link
{
   color:#DD0000; 
   border:0;
   text-decoration:none;
}

#contentdiv a:visited
{
   color:#DD0000; 
   border:0;
   text-decoration:none;
}

#contentdiv a:hover
{
    color:#000000;
    text-decoration:none;
    border:0;
}

#contentdiv a:active
{
    color:#000000;
    text-decoration:none;
    border:0;
}

img
{
	border:0;
}

#contentdiv p
{
	margin-bottom:5px;
}

.pageOn
{
	text-decoration:underline;
	color:#000000;
}




/*	Form Input	*/

select 
{
	font-size:11px;
	background-color: #FFFFFF;
	border: 1px solid #9196A8;
}

input
{
	font-size:11px;
	vertical-align:bottom;
}

input:focus 
{
	outline: 0;
}


.inputBox
{
	font-size:11px;
	border:1px solid #6B696C;
	margin-bottom:5px;
}



.checkbox
{
	margin:0;
	width:13px;
	height:13px;
	overflow:hidden;
}

textarea {
	margin-bottom:5px;
	font-size:11px;
	border: 1px solid #B7B6A4;
	background-color: #FFFFFF;
}		 

.button {
	vertical-align:middle;
	font-size:11px;
	background-color: #E9E8E3;
	border: 1px solid #B7B6A4;
}


/*	Misc Classes	*/

.bold
{
    font-weight:bold;
}

#contentdiv ul
{
	margin-left:40px;
	list-style-type:disc;
}

#contentdiv ul li
{
	padding: 2px 0px;
}

/* ******************************* */
/*	Page Layout				*/

#enclosure
{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
}

.pageWidthEnclosure
{
    margin: 0 23px 0 23px;
    width: 924px;
    position: relative;
    background-color: #FFFFFF;
}

#mainblock
{
    margin: 0px 11px;
}

.pageFooterImage
{
    background-image: url(../images/pageFooter.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
}

#footerblock
{
    clear:both; 
    padding-top: 155px; 
    margin: 0 11px; 
    line-height: 33px; 
    color: #FFFFFF; 
    font-size: 10px;
}


/*  Top Nav styles  */

#rownavUL
{
	padding:0;
	margin:0;
	font-family: arial, helvetica, sans-serif;
	list-style-type:none;
	width:210px;
}

#rownavUL li
{
	padding:0px 10px 0px 0px;
    float:left;
}

#rownavUL li a.item:link
{
	color:#6B696C;
}

#rownavUL li a.item:visited
{
	color:#6B696C;
}

#rownavUL li a.item:hover
{
	color:Black;
	text-decoration:underline;
}

#rownavUL li a.item:active
{
	color:Black;
}

/*	selected item in subnav list	*/
#rownavUL li a.itemcurrent
{
	color:Black;
}


/************ Made By Bloak ****************/

#madeBy
{
    position: absolute; 
    right: 10px; 
    bottom: -30px; 
    line-height: 30px; 
    font-size: 10px;
}

#madeBy a
{
    color: #FFFFFF; 
}

#madeBy a:hover
{
    color: #000000;
    text-decoration:none;
}

/*********** Tag Line ******************/


#header
{
    float: left;
    width: 100%;
}

.evacLogo
{
    float: left;
}

#tagLine
{
    float: left;
    color: #000000;
    font-size: 18px;
    line-height: 113px;
    margin-left: 20px;
    /*font-family: Arial Narrow, Arial, Sans-Serif;*/
}

#manufacLogo
{
    float: right;
    background-image: url(../images/evac_manuf.jpg);
    background-repeat: no-repeat;
    width: 116px;
    height: 108px;
    margin: 5px 0 0 0;
}


/*********** contactIcon ******************/

.contactIcon
{
     clear: left; 
     padding-top: 15px; 
     padding-left: 10px;
     color: #DD0000;
     line-height: 1.3em;
}

.contactIcon div
{
     margin: 5px 0;    
}

.contactIcon img
{
     margin-right: 10px;
}

.contactIcon p.title
{
    color: #000000;
    font-weight: bold;
}

ul.plus
{
    margin: 0px !IMPORTANT;    
    padding: 0px;
}

ul.plus li
{
   display: block;
   background-color: #cf181d;
   background-image: url(../images/plusListItem.jpg);
   margin: 0 0 5px -10px;
   text-indent: 40px;
   line-height: 34px;
   height: 34px;
   width: 350px;
   color: #FFFFFF;
   padding: 0 !IMPORTANT;
}

p
{
    padding: 0 5px !IMPORTANT;
}


.newsTitle
{
    margin-bottom: 0px !IMPORTANT;
}

.newsdate
{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px !IMPORTANT;
}

.smallText
{
    font-size: 10px;
}

.noPIndent
{
    margin-left: 5px;
    margin-right: 5px;
}

.noPIndent p
{
    margin-left: 0px !IMPORTANT;
    margin-right: 0px !IMPORTANT;
    padding-left: 0px !IMPORTANT;
    padding-right: 0px !IMPORTANT;
}

/*************** Social Media **************/

#socialMedia
{
    float: left;
    padding: 10px 0;
}

.socialSec
{
    float: left;
    padding: 5px;
    width: 100%;
}

.socialIcon
{
    float: left;
    padding-right: 10px;
}

.socialText a
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.socialText a:link,
.socialText a:visited
{
    color: #000;
}

.socialText a:hover,
.socialText a:active
{
    color: #666;
}

#chooseLang
{
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.2em;
    width: 100%;
}

/*************** Product List **************/

#contentdiv ul.productListItem
{
    margin: 0; padding: 0; list-style-type: none;
}

#contentdiv ul.productListItem li
{
    float:left;
    position: relative;
    width: 325px;
    height: 157px;
    background-image: url(../images/productListItemBackground.gif);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 4px;
}

#contentdiv ul.productListItem li h3
{
    line-height: 40px;
    text-indent: 50px;
    color: #FFFFFF;
    margin: 0px;
}

#contentdiv ul.productListItem li div
{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

#contentdiv ul.productListItem li div a
{
    float: left;
}

#contentdiv ul.productListItem li div p
{
    height: 81px;
    overflow: hidden;
    margin-bottom: 2px;
}

#contentdiv ul.productListItem li div a
{
    padding: 0 5px;
}

ul.includes
{
    margin-left: 20px !IMPORTANT;
    font-weight: bold;
}

ul.includes li
{
    color: #000000;
}

div.dimensions
{
    margin: 5px;
    margin-top: 10px;
    width: 305px;
    height: 171px;
    background-image: url(../images/dimensions-background.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

div.dimensions.acc
{
    background-image: url(../images/dimensions-background-acc.jpg);
    height: 146px;
}

#enclosure div.dimensions h4, div.dimensions h4
{
    background: none;
    margin: 0px;
    color: #FFF;
}

#enclosure div.dimensions table, div.dimensions table
{
    border-collapse: collapse;
    padding: 0px;
    margin-top: 3px;
    line-height: 24px;
    color: #000000;
}

#enclosure div.dimensions table th, #enclosure div.dimensions table td,
div.dimensions table th, div.dimensions table td
{
    text-align: left;
    text-indent: 10px;
    width: 152px;
}

.backLink
{
    font-weight: bold;
    line-height: 30px !IMPORTANT;
    color: #000000 !IMPORTANT;
}

.backLink img
{
    vertical-align: top;
    margin-right: 5px;
}

.newsBody
{
    text-align: justify;
    margin: 2px 0;
}

table.form th
{
    text-align: left;
}

.button
{
    width: 129px;
    height: 30px;
    background-image: url(../images/button.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    line-height: 30px;
    color: #FFFFFF !IMPORTANT;
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 12px;
    display: inline-block;
    margin: 2px;
}

.clientTitle
{
    margin: 0 !IMPORTANT;
    padding: 0 !IMPORTANT;
}



/*	Home Banner Styles	*/

#contentdiv .bannerholder
{
	height:330px;
}

#contentdiv .bannerholder #portfolio
{
	list-style-type:none;
	width:674px;
	height:318px;
	margin:0px 0px 10px 0px;
	padding:0;
}

#contentdiv .bannerholder #portfolio li.banner .toptext
{
	height:45px;
	width:674px;
	margin-left:10px;
	font-size:20px;
	color:White;
	font-family:Arial;
	padding-top:12px;
    top: 0;
    position: absolute;
}

    #contentdiv .bannerholder #portfolio li.banner a {
        position: relative;
        display:block;
    }
.bottomtext
{
	font-size:18px;
	color:White !important;
	font-family:Arial;
    z-index: 9999;
    position: relative;
    display: block;
    float:left;
    padding-top: 20px;
}

.bottomtext a
{
	color: White;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
    padding-left: 75px;
    width: 200px;
    z-index: 9999;
	color:White !important;
}

#homePageNews
{
    background:none repeat scroll 0 0 #FFFFFF;
    margin:35px auto auto;
    width:905px;
    padding: 20px 10px;
}

#homePageNewsContent
{
    margin: 0 10px;
}

/* Radio Advert */

.radioAdvert
{
    background-image: url("../images/EC-Radio-Advert.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 99px;
    margin-top: 12px;
    width: 217px;
    z-index: 9999;
}

.radioAdBanner
{
    color: #FFFFFF;
    display: block;
    float: left;
    position: relative;
    margin-top: 15px;
    z-index: 9999;
}

.radioPlayer
{
    float: right;
     margin-top: -9px;
     z-index: 9999;
    float: right;
    border-color: #FFF;
    border-radius: 6px;
    position: relative;
}

.radioAdvert .radioPlayer
{
    float: left;
    margin-left: 5px;
    margin-top: 55px;
}

.miniPlayer
{
    height: 20px;
    width: 200px;
}
